@Models
@{

}

<h2> Edit </h2>

@Using (Html.BeginForm())
{
  @Html.AngiForgeryToken()

  <div class= "form-horizontal">
  <h4> Title </h4>
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    @Html.labelFor(model=> model.Title)
  <div class= "form-group">
    @Html.EditorFor(model => model.Title, new { htmlAttributes = {@class = "control-label col-md-2"}})
    <div class= "col-md-10">
      @Html.EditorFor(model =>model.Title new { htmlAttributes= new{@class "form-control"} } )
      @Html.ValidationMessageFor(model => model.Title,"", new { @class = "text-danger"})
      </div>
    </div>

    <div class= "form-group">
    @Html.LabelFor(model => model.Description, htmlAttributes:new { @class = "control-label col-md-2"})
    @Html.ValidationMessageFor(model =>model.Description, "", new { @class = "text-danger"})
        </div>
      </div>
    </div>

}
<div>
    @Html.ActionLink("Back to Profile","Index")
 </div>
