
@model PortfolioViewModel

@{
  ViewData["Title"] = "See your portfolio items";
}

<div class="container-fluid portfolio-container">
  <div class="row">
    <!--TODO: Implement Bio from database -->
    <div class="col-md-3 bio-container">

    <div>
      @foreach (var user in Model.Apu)
      {
      <h2 class="bio-title">@user.Name</h2>
      <p class="bio-tagline">@user.Tagline</p>
      <p class="bio-location">@user.Location</p>
      }
    </div>


      <div class="add-item-form">
      @await Html.PartialAsync("AddItemPartial", new PortfolioItem())
      </div>

    </div><!--bio container ends-->


  <div class="col-md-9">
    <div class="row container-pitems">
    @{int i = 0;}
    @foreach (var item in Model.Items)
    {
      <div class="portfolio-item col-md-4">
      <!-- delete item modal -->
      <button type="button" class="pull-right" data-toggle="modal" data-target="#@i">
        <span aria-hidden="true">&times;</span>
      </button>
      <!--modal per delete item-->
      <div class="modal fade" id="@i" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Are you sure you want to delete @item.Title ?</h4>
            </div><!--modal header ends-->
            <div class="modal-footer">
              <form asp-action="DeleteItem">
                <input type="hidden" name="id" value="@item.Id">
                <button type="submit" class="btn btn-primary" >Yes, Delete</button>
              </form>
              <button type="button" class="btn btn-default" data-dismiss="modal">No, Cancel</button>
            </div><!--modal footer ends-->
          </div><!--modal-content ends-->
        </div><!--modal dialog ends-->
      </div><!--modal fade ends-->
      <!-- delete item modal ends-->
        <img class="img-responsive center-block" src="@item.ImageUrl" />
        <h3 class="portfolio-title">@item.Title</h3>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@item.Id">
          More Info
        </button>
        <!--modal per item-->
        <div class="modal fade" id="@item.Id" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@item.Title</h4>
              </div><!--modal header ends-->
              <div class="modal-body portfolio-item-modal">
                <img class="img-responsive center-block" src="@item.ImageUrl" />
                <p class="portfolio-description">@item.Description</p>
              </div><!--modal-body ends-->
              <div class="modal-footer">
                <a class="btn btn-primary" asp-action="EditItem" asp-route-id="@item.Id">Edit This Item</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div><!--modal footer ends-->
            </div><!--modal-content ends-->
          </div><!--modal dialog ends-->
        </div><!--modal fade ends-->
      </div><!--portfolio item ends-->
      i++;
    }
      </div><!-- row pitems ends-->
    </div>
  </div><!--main row ends-->
</div><!--portfolio container ends-->
